div.slider{
    background-image: url(../../../images/Home/li.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-position: center;
    padding: 100px 30px 150px 30px;
    margin: 50px;
    border-radius: 10%;

}
.letter1{
    text-align: center;
    font-size: 3rem;
    padding-left: 150px;
    padding-right: 150px;
    color: white
}
.shop{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.shop2{
    background-color: #0047ff;
    padding: 10px 30px 10px 30px;
    color: white;
}
.forward{
    color: white;
    width: 20px;
}