header.upper {
    display: flex;
    justify-content: center;
    align-items: center;
}

header.upper>div>.level {
    font-weight: 1000;
}

.shopNow {
    color: white;
    background-color: var(--primary-color);

}

.upper>.model {
    /* background-image: url(../../../images/Home/header/model.png); */


    /* background-repeat: no-repeat; */
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: none;
    text-align: center;
    border-radius: 5%;


}

.upper>.img {
    display: inline;
    width: 50%;
    height: 50%;
}