header.upper {
    display: flex;
    justify-content: center;
}

header.upper>div>.level {
    font-weight: 1000;
}

.shopNow {
    color: white;
    background-color: var(--primary-color);

}
.upper > .model
.model{
    /* background-image: url(../../../images/Home/header/model.png); */
        padding: 12rem 3rem 2rem 4rem;
      
        /* background-repeat: no-repeat; */
        text-align: center;
        background-size: cover;
        background-position: center;
        background-attachment: none;
        text-align: center;
        border-radius: 5%;
    
    
}