.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider>div>.level {
    font-weight: 1000;
    font-size: 4rem;
}

.slider > div >.shopNow {
    color: white;
    background-color: var(--primary-color);
    padding: 1rem 2rem 1rem 2rem;
}

.slider>.model {
    /* background-image: url(../../../images/Home/header/model.png); */


    /* background-repeat: no-repeat; */
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: none;
    text-align: center;
    border-radius: 5%;


}

.slider>.img {
    display: inline;
    width: 50%;
    height: 50%;
}