.mainShop .c{
    background-color: black;
}
.mainShop .c2{
    background-color: white;
}
.mainShop .c3{
    background-color: grey;
}
.mainShop .c4{
    background-color: green;
}
.mainShop .c5{
    background-color: blue;
}
.mainShop .c6{
    background-color: gold;
}
.mainShop .c7{
    background-color: red;
}
.mainShop .c8{
    background-color: black;
}
.mainShop .c9{
    background-color: black;
}
.mainShop .c10{
    background-color: black;
}
.filter2>.size>div>p{
    padding: 2rem;
    border-radius: 30%;
}